.advantages {
  color: $base-black;
  background-color: $base-white;
}

// .advantages__wrapper {}

.advantages__secondary-title {
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 4px;
}

.advantages__title {
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 36px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 42px;
    line-height: 152%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
    padding-left: 10px;
    flex-flow: row wrap;
    gap: 50px 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-left: 0;
    gap: 30px;
  }
}

.advantages__item {
  position: relative;
  padding-top: 66px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-left: 72px;
    width: 339px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 76px;
    padding-left: 0;
    width: 318px;
  }
}

.advantages__item:nth-child(2n) {
  @media (min-width: $desktop-width) {
    width: 317px;
  }
}

.advantages__item-title {
  margin: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 150%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__text {
  width: fit-content;
  margin: 0;
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: $base-black;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 150%;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.advantages__item-speed::before {
  content: "";
  display: block;
  width: 52px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../icons/stack.svg#speed");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 4px;
    left: 0;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__item-convenience::before {
  content: "";
  display: block;
  width: 52px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../icons/stack.svg#convenience");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 0;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__item-cheerfulness::before {
  content: "";
  display: block;
  width: 52px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../icons/stack.svg#cheerfulness");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    left: 0;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.advantages__item-environmental::before {
  content: "";
  display: block;
  width: 52px;
  height: 56px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("../../icons/stack.svg#environmental");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 4px;
    left: 0;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
