// .advantages {}

// .advantages__wrapper {}

// .advantages__secondary-title {}

// .advantages__title {}

// .advantages__list {}

// .advantages__item {}

// .advantages__item-title {}

// .advantages__text {}

// .advantages__item-speed {}

// .advantages__item-convenience {}

// .advantages__item-cheerfulness {}

// .advantages__item-environmental {}
