.button {
  margin: 0;
  padding: 8px 91.5px;
  border: none;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $base-white;
  background-color: $base-primary;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: $alt-primary-lighter;
}

.button:active {
  background-color: $alt-primary-darker;
}

.button:disabled {
  background-color: $base-grey;
  cursor: not-allowed;
}
