.button {
  margin: 0;
  padding: 8px 91.5px;
  border: none;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $base-white;
  background-color: $base-primary;
}

