.catalog {
  padding-top: 40px;
  color: $base-black;
  background-color: $bg-lightest-grey;
}

// .catalog__select {}

// .catalog__select-control {}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog__item {
  background-color: $base-white;
}

.catalog__item-img-container {
  padding: 40px 75px 24px;
  background-color: $base-white;
}

.catalog__item-img {
  display: block;
}

// .catalog__item-title {}

// .catalog__item-description {}

// .catalog__item-price {}

// .catalog__item-button {}

// .catalog__pagination {}

// .catalog__pagination-arrow {}

// .catalog__pagination-arrow--prew {}

// .catalog__pagination-arrow--next {}

// .catalog__pagination-list {}

// .catalog__pagination-item {}

// .catalog__pagination-link {}
