// .catalog {}

// .catalog__wrapper {}

// .catalog__select {}

// .catalog__select-control {}

// .catalog__list {}

// .catalog__item {}

// .catalog__item-img-container {}

// .catalog__item-img {}

// .catalog__item-title {}

// .catalog__item-description {}

// .catalog__item-price {}

// .catalog__item-button {}

// .catalog__pagination {}

// .catalog__pagination-arrow {}

// .catalog__pagination-arrow--prew {}

// .catalog__pagination-arrow--next {}

// .catalog__pagination-list {}

// .catalog__pagination-item {}

// .catalog__pagination-link {}
