.footer {
  padding-top: 20px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 41px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px 20px;
  }
}

.footer__social-container {
  display: flex;
  align-items: center;
  gap: 38px;

  @media (min-width: $tablet-width) {
    grid-area: 1 / 1 / 1 / -1;
  }

  @media (min-width: $desktop-width) {
    width: 358px;
    flex-direction: column;
    gap: 0;
    grid-area: 1 / 1 / 1 / 2;
  }
}

.footer__logo {
  @media (min-width: $tablet-width) {
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
  }
}

// .footer__logo-img-wrapper {}

.footer__logo-img {
  display: block;
  width: 82px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 170px;
    height: auto;
  }
}

.footer__logo-text {
  display: none;

  @media (min-width: $desktop-width) {
    margin: 0;
    display: block;
    margin-bottom: 50px;
    align-self: start;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
  }
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;

  @media (min-width: $desktop-width) {
    margin-right: auto;
    margin-bottom: 25px;
  }
}

// .footer__social-item {}

.footer__social-link {
  position: relative;
  display: block;
  min-width: 40px;
  height: 40px;
  padding: 10px;
  background-color: $base-white;
}

.footer__social-link--vk::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $base-grey;
  mask-image: url("../../icons/stack.svg#vk");
  mask-size: 20px 20px;
  mask-position: center;
  mask-repeat: no-repeat;
}

.footer__social-link--pin::before {
  padding: 9px;
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $base-grey;
  mask-image: url("../../icons/stack.svg#pinterest");
  mask-size: 22px 22px;
  mask-position: center;
  mask-repeat: no-repeat;
}

.footer__social-link--ok::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $base-grey;
  mask-image: url("../../icons/stack.svg#ok");
  mask-size: 20px 20px;
  mask-position: center;
  mask-repeat: no-repeat;
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: $base-secondary;
}

.footer__social-link--vk:hover::before,
.footer__social-link--vk:focus::before,
.footer__social-link--pin:hover::before,
.footer__social-link--pin:focus::before,
.footer__social-link--ok:hover::before,
.footer__social-link--ok:focus::before {
  background-color: $base-primary;
}

.footer__social-link:active {
  background-color: $alt-primary-opacity;
}

.footer__social-link--vk:active::before,
.footer__social-link--pin:active::before,
.footer__social-link--ok:active::before {
  background-color: $base-primary;
}


.footer__shop-nav-container {
  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
  }
}

.footer__shop-nav-title,
.footer__media-nav-title,
.footer__contact-list-title {
  margin: 0;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
  text-align: left;
  text-transform: none;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.footer__shop-nav,
.footer__media-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__shop-nav-item,
.footer__media-nav-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.footer__shop-nav-link,
.footer__media-nav-link {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $base-black;
}

.footer__shop-nav-link:hover,
.footer__media-nav-link:hover,
.footer__shop-nav-link:focus,
.footer__media-nav-link:focus {
  color: $alt-primary-lighter;
}

.footer__shop-nav-link:active,
.footer__media-nav-link:active {
  color: $alt-primary-darker;
}

.footer__media-nav-container {
  @media (min-width: $tablet-width) {
    width: 222px;
  }

  @media (min-width: $desktop-width) {
    width: 318px;
  }
}

.footer__contact-list-container {
  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 317px;
  }
}

.footer__contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__contact-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}

.footer__contact-link {
  position: relative;
  display: block;
  padding-left: 19px;
  color: $base-black;
}

.footer__contact-link:hover,
.footer__contact-link:focus {
  color: $alt-primary-lighter;
}

.footer__contact-link:active {
  color: $alt-primary-darker;
}

.footer__contact-link--coordinat::before {
  content: "";
  display: block;
  width: 13px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: $base-primary;
  mask-image: url("../../icons/stack.svg#address-point");
  mask-position: center;
  mask-size: 13px 16px;
  mask-repeat: no-repeat;
}

.footer__contact-link--phone::before {
  content: "";
  display: block;
  width: 13px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 0;
  background-color: $base-primary;
  mask-image: url("../../icons/stack.svg#phone");
  mask-position: center;
  mask-size: 13px 16px;
  mask-repeat: no-repeat;
}

.footer__copyright {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  padding-right: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: $base-grey;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    grid-area: 3 / 2 / 3 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2 / 2 / 3 / 4;
  }
}

.footer__copyright::after {
  content: "";
  display: block;
  width: 12px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $base-grey;
  mask-image: url("../../icons/stack.svg#logo-academy");
  mask-position: center;
  mask-size: 12px 16px;
  mask-repeat: no-repeat;
  cursor: pointer;
}

.footer__copyright:hover,
.footer__copyright:focus {
  color: $base-primary;
}

.footer__copyright:hover::after,
.footer__copyright:focus::after {
  background-color: $base-primary;
}

.footer__copyright:active {
  color: $alt-primary-darker;
}

.footer__copyright:active::before {
  background-color: $alt-primary-darker;
}
