// .footer {}

// .footer__wrapper {}

// .footer__logo {}

// .footer__logo-img-wrapper {}

// .footer__logo-img {}

// .footer__social-list {}

// .footer__social-item {}

// .footer__social-link {}

// .footer__social-link--vk {}

// .footer__social-link--pin {}

// .footer__social-link--ok {}

// .footer__shop-nav-container {}

// .footer__shop-nav-title {}

// .footer__shop-nav {}

// .footer__shop-nav-item {}

// .footer__shop-nav-link {}

// .footer__media-nav-container {}

// .footer__media-nav-title {}

// .footer__media-nav-list {}

// .footer__media-nav-item {}

// .footer__media-nav-link {}

// .footer__contact-list-container {}

// .footer__contact-list {}

// .footer__contact-item {}

// .footer__contact-link {}

// .footer__contact-link--coordinat {}

// .footer__contact-link--phone {}

// .footer__copyright {}
