.form-catalog {
  color: $base-black;
  background-color: $bg-lightest-grey;
}

// .form-catalog__wrapper {}

.form-catalog__secondary-title {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;
}

.form-catalog__title {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.form-catalog__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
