.form {
  color: $base-black;
  background-color: $bg-lightest-grey;
}

.form__filter-group {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 223px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__filter-is-milk {
  @media (min-width: $tablet-width) {
    width: 222px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.form__filter-title {
  margin-bottom: 19px;
  padding: 0;
  font-family: $font-family;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.form__filter-title--range {
  margin-bottom: 31px;
}

.form__slider-container {
  width: 100%;
  height: 24px;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

/* stylelint-disable selector-class-pattern */
.noUi-target {
  background-color: $alt-light-grey;
  border: none;
  border-radius: 0;
  box-shadow: none;
  height: 2px;
}

.noUi-connects {

  height: 4px;
  top: -1px;
}

.noUi-connect {
  background-color: $alt-primary-lighter;
}

.noUi-handle {
  padding: 0;
  background-color: $base-white;
  border: 2px solid $alt-primary-lighter;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 24px;
  height: 24px;
  top: -11px;
}

.noUi-horizontal .noUi-handle-lower {
  right: -24px;
}

.noUi-horizontal .noUi-handle-upper {
  right: -8px;

  @media (min-width: $tablet-width) {
    right: -2px;
  }

  @media (min-width: $desktop-width) {
    right: -12px;
  }
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle:hover::before,
.noUi-handle:focus::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $alt-primary-opacity;
  position: absolute;
  top: 2px;
  left: 2px;
}

.noUi-handle:active::before {
  background-color: $base-primary;
}
/* stylelint-enable selector-class-pattern */

.form__price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }

  @media (min-width: $desktop-width) {
    gap: 21px;
  }
}

.form__price-input {
  width: 118px;
  height: 40px;
  padding: 8px 10px;
  border: 2px solid $alt-primary-lighter;
  border-radius: 4px;
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  cursor: pointer;
  appearance: textfield;

  @media (min-width: $tablet-width) {
    width: 87px;
  }

  @media (min-width: $desktop-width) {
    width: 134px;
  }
}

.form__price-min {
  color: $base-grey;
}

/* как вариант обойти, хотя бы частично JS для range-slider, он перекрывает placeholder */

.form__price-min:focus,
.form__price-max:focus {
  outline: none;
  border-color: $alt-primary-darker;
  color: $base-black;
}

.form__price-separator {
  width: 8px;
  height: 2px;
  background-color: $base-grey;
}

.form__filter-group:disabled {
  pointer-events: none;
}

.form__slider-btn-toggle:disabled {
  border-color: $base-grey;
  cursor: default;
  background-color: $bg-lightest-grey;

  &::before {
    display: none;
  }
}

.form__filter-group:disabled .form__slider-bar {
  background-color: $base-grey;
}

.form__price-input:disabled {
  border-color: $alt-light-grey;
  color: $base-grey;
  background-color: $bg-lightest-grey;
  cursor: default;

  &::placeholder {
    color: $base-grey;
  }
}

.form__filter-group:disabled .form__price-separator {
  color: $base-grey;
}

.form__filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__filter-item {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.form__filter-item:last-child {
  margin-bottom: 0;
}

.form__control {
  position: relative;
  padding-left: 34px;
  display: block;
  cursor: pointer;
}

.form__control-checkbox {
  position: relative;
  padding-left: 52px;
  display: block;
  cursor: pointer;
}

.form__control-label {
  max-width: 250px;
  display: inline-block;
  overflow-wrap: break-word;
}

.form__control-marker-radio {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $base-grey;
}

.form__control-marker-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 24px;
  border-radius: 12px;
  background-color: $base-grey;
  transition: 4ms;
}

.form__control-marker-checkbox::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  background-color: $base-white;
  transition: 4ms;
}

.form__control-input:checked + .form__control-marker-checkbox {
  background-color: $base-primary;
}

.form__control-input:checked + .form__control-marker-checkbox::before {
  transform: translateX(18px);
}

.form__control:hover .form__control-marker-radio {
  border-color: $base-primary;
}

.form__control-checkbox:hover .form__control-marker-checkbox {
  border: 2px solid $alt-primary-lighter;
  background-color: $alt-primary-opacity;
}

.form__control-checkbox:hover .form__control-marker-checkbox::before {
  top: 0;
  left: 0;
  bottom: 0;
}

.form__control:hover .form__control-marker-radio::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $alt-primary-lighter;
}

.form__control-input:disabled + .form__control-marker-radio {
  border-color: $alt-light-grey;
}

.form__control-input:disabled + .form__control-marker-checkbox {
  background-color: $alt-light-grey;
}

.form__control-input[type="radio"]:disabled:hover + .form__control-marker-radio::before {
  background-color: $alt-light-grey;
}

.form__control-input[type="radio"]:checked + .form__control-marker-radio {
  border-color: $base-primary;
}

.form__control-input[type="radio"]:checked + .form__control-marker-radio::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $base-primary;
}

.form__control-input:checked:disabled + .form__control-marker-radio::before {
  background-color: $alt-light-grey;
}

.form__control-input:checked:disabled + .form__control-marker-radio {
  border-color: $alt-light-grey;
}

.form__control:has(.form__control-input:disabled),
.form__control-checkbox:has(.form__control-input:disabled) {
  color: $alt-light-grey;
  pointer-events: none;
}

.form__control-input:checked:disabled + .form__control-marker-checkbox {
  background-color: $alt-light-grey;
}

.form__control-input:checked:disabled + .form__control-marker-checkbox::before {
  background-color: $base-grey;
  transform: translateX(18px);
}

.form__button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 226px;
    padding-right: 225px;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding-top: 11px;
    padding-left: 0;
    padding-right: 0;
  }
}

.form__button {
  @media (min-width: $tablet-width) {
    padding: 8px 20px;
  }
}

.form__button-submit {
  border-radius: 4px;

  @media (min-width: $desktop-width) {
    padding: 8px 26px;
  }
}

.form__button-reset {
  border-radius: 4px;
  color: $base-primary;
  background-color: $base-white;

  @media (min-width: $desktop-width) {
    padding: 8px 34.5px;
  }
}

.form__button-reset:hover,
.form__button-reset:focus,
.form__button-reset:disabled {
  color: $base-white;
}

.form__button-reset:disabled {
  background-color: $alt-light-grey;
}
