.form-catalog {
  color: $base-black;
  background-color: $bg-lightest-grey;
}

.form-catalog__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    column-gap: 30px;
  }
}

.form-catalog__secondary-title {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    grid-area: 1 / 1 / 2 / 3;
  }
}

.form-catalog__title {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 152%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
    grid-area: 2 / 1 / 3 / 3;
  }
}

.form-catalog__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-flow: wrap row;
    gap: 40px 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
    flex-flow: nowrap column;
    gap: 10px;
    width: 318px;
  }
}
