// .form {}

// .form__filter-group {}

// .form__filter-title {}

// .form__slider-container {}

// .form__price-container {}

// .form__price-input {}

// .form__price-min {}

// .form__price-separator {}

// .form__price-max {}

// .form__filter-list {}

// .form__filter-item {}

// .form__control {}

// .form__control-input {}

// .form__control-marker-radio {}

// .form__control-label {}

// .form__control-marker-checkbox {}

// .form__button-container {}

// .form__button-submit {}

// .form__button-reset {}
