.header {
  color: $base-black;
  background-color: $base-white;
}

.header__wrapper {
  position: relative;
}

.header__nav {
  margin: 0 auto;
  display: flex;
  width: 100%;
  column-gap: 10px;

  @media (min-width: $tablet-width) {
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    column-gap: 20px;
  }
}

.header__button {
  position: absolute;
  top: 0;
  right: -1px;
  background-image: url("../../icons/stack.svg#btn-burger");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__button:hover {
  background-color: $base-secondary;
}

.header__button--close {
  position: absolute;
  top: 0;
  right: -1px;
  background-image: url("../../icons/stack.svg#btn-burger-close");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
