.header {
  color: $base-black;
  background-color: $base-white;
}

.header__wrapper {
  position: relative;
}

.header__nav {
  margin: 0 auto;
  display: flex;
  column-gap: 10px;
}

.header__button {
  position: absolute;
  top: 0;
  right: 21px;
  background-image: url("../../icons/stack.svg#btn-burger");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

// .header__hero {}

