.hero {
  color: $base-black;
  background-color: $bg-flat-white;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $bg-flat-white 0, $bg-flat-white 640px, $base-white 640px, $base-white 828px);
  }

  @media (min-width: $desktop-width) {
    background-image: none;
    background-color: $bg-flat-white;
  }
}

.hero__wrapper {
  position: relative;
}

.hero__slider-container {
  position: relative;
}
