// .hero {}

// .hero__title {}

// .hero__wrapper {}

// .hero__slider-container {}

// .hero__slider-list {}

// .hero__slider-item {}

// .hero__slider-item-img-container {}

// .hero__slider-item-img {}

// .hero__slider-secondary-title {}

// .hero__slider-title {}

// .hero__slider-descriptions {}

// .hero__slider-price-container {}

// .hero__slider-old-price {}

// .hero__slider-new-price {}

// .hero__slider-button {}
