.main {
  color: $base-black;
  background-color: $base-white;
}

.main__advantages {
  padding-top: 50px;
  padding-bottom: 60px;
}

.main__form-catalog {
  padding-top: 50px;
  padding-bottom: 36px;
}

.main__catalog {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

// .main__map {}
