.main {
  color: $base-black;
  background-color: $base-white;
}

.main__advantages {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.main__form-catalog {
  padding-top: 50px;
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.main__catalog {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet-width) {
    gap: 26px;
  }
}

.main__map {
  padding-top: 13px;
  background-color: $bg-lightest-grey;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
