.main-nav {
  position: relative;
  color: $base-black;
  background-color: $base-white;
}

.main-nav__logo-link {
  margin-right: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.main-nav__logo-img {
  display: block;
  width: 32px;
  height: 36px;

  @media (min-width: $tablet-width) {
    width: 82px;
  }

  @media (min-width: $desktop-width) {
    width: 170px;
  }
}

.main-nav__description-logo {
  display: none;

  @media (min-width: $desktop-width) {
    margin: 0;
    display: block;
    margin-right: 142px;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    gap: 21px;
  }
}

.main-nav__list--open {
  position: absolute;
  top: 60px;
  left: -20px;
  z-index: 2;
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: $base-white;
}

.main-nav__item {
  border-top: 1px solid $base-secondary;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__item:last-child {
  border-bottom: 1px solid $base-secondary;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__item-link {
  display: block;
  padding: 20px 128.5px 21px;
  color: $base-black;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 32px 20px;
  }
}

.main-nav__item-link--current {
  @media (min-width: $tablet-width) {
    color: $base-primary;
    cursor: default;
  }
}

.main-nav__item-link--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $base-primary;
  }
}

.main-nav__item-link:hover:not(.main-nav__item-link--current),
.main-nav__item-link:focus:not(.main-nav__link--current) {
  color: $base-primary;
}

.main-nav__item-link:active:not(.main-nav__item-link--current) {
  color: $base-primary;
  background-color: $base-secondary;
}

.main-nav__secondary-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  min-width: 120px;
  margin-right: 40px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    gap: 20px;
  }
}

.main-nav__secondary-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.main-nav__secondary-item-link {
  padding: 22px;
  display: block;
  min-width: 16px;
  min-height: 16px;

  color: $base-black;

  @media (min-width: $tablet-width) {
    padding: 32px 22px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 20px;
    padding-left: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-nav__secondary-item-link--user::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  background-color: currentColor;
  mask-image: url("../../icons/stack.svg#user");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.main-nav__text {
  display: none;

  @media (min-width: $desktop-width) {
    padding-left: 8px;
    display: inline-block;
  }
}

.main-nav__secondary-item-link--basket::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;

  background-color: currentColor;
  mask-image: url("../../icons/stack.svg#basket");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.main-nav__secondary-item-link:hover {
  background-color: $base-secondary;
}
