.map {
  background-color: $bg-lightest-grey;
}

.map__img-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 420px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 480px;
  }

  @media (min-width: $desktop-width) {
    height: 540px;
  }
}

.map__img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
}
