.page {
  height: 100%;
}

.page__body {
  display: grid;
  min-height: 100%;
  margin: 0;
  grid-template-rows: min-content 1fr min-content;
  font-family: $font-family;
  font-weight: 400;
  color: $base-black;
  background-color: $base-white;
}
