// .slider {}

.slider__window {
  width: 280px;
  overflow: hidden;
}

.slider__gallery {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.slider__gallery-item {
  padding-top: 20px;
  padding-bottom: 60px;
  color: $base-black;
}

.slider__gallery-item-img-container {
  margin-bottom: 10px;
}

.slider__item-img {
  display: block;
  width: 280px;
  height: auto;
}

.slider__gallery-item-secondary-title {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 4px;
}

.slider__gallery-item-title {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.02em;
}

.slider__gallery-item-description {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
}

.slider__price-container {
  margin: 0 auto;
  width: 100%;
  max-width: 230px;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  align-items: center;
}

.slider__old-price {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 6px;
  font-size: 16px;
  line-height: 200%;
  text-decoration: line-through;
  color: $base-primary;
}

.slider__new-price {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  $color: base-black;
}

.slider__item-button {
  margin: 0;
  margin-left: auto;
  padding: 8px 20px;
  width: 113px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.slider__btn-conteiner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 280px;
  pointer-events: none;
}

.slider__btn {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  width: 20px;
  height: 100%;
  background-color: inherit;
  background-image: none;
  pointer-events: auto;
  cursor: pointer;
}

.slider__btn-prev::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: $base-primary;
  mask-image: url("../../icons/stack.svg#arrow-left");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.slider__btn-prev:hover {
  background-image: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider__btn-prev:active {
  background-image: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider__btn-next::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: $base-primary;
  mask-image: url("../../icons/stack.svg#arrow-right");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}


.slider__btn-next:hover {
  background-image: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider__btn-next:active {
  background-image: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}
