.slider__window {
  width: 100%;
  overflow: hidden;
}

.slider__gallery {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  transition: transform 0.5s ease-in-out;

  @media (min-width: $desktop-width) {
    gap: 40px;
  }
}

.slider__gallery-item {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  color: $base-black;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 625px;
    grid-template-rows: auto auto auto 1fr;
    column-gap: 30px;
  }
}

.slider__gallery-item-img-container {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-right: 126px;
    padding-left: 126px;
    margin-bottom: 0;
    grid-area: 5 / 1 / 6 / 1;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 0 84px 65px;
    grid-area: 1 / 1 / -1 / 1;
  }
}

.slider__item-img {
  display: block;
  width: 280px;
  height: auto;

  @media (min-width: $tablet-width) {
    width: 476px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 600px;
  }
}

.slider__gallery-item-secondary-title {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 180px;
    padding-left: 0;
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
  }
}

.slider__gallery-item-title {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: 0.02em;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
    font-size: 56px;
    line-height: 143%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
    grid-area: 2 / 2 / 3 / 3;
    text-align: left;
  }
}

.slider__gallery-item-description {
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
    line-height: 160%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-bottom: 40px;
    grid-area: 3 / 2 / 4 / 3;
    text-align: left;
  }
}

.slider__price-container {
  margin: 0 auto;
  width: 100%;
  max-width: 230px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 4 / 2 / 5 / 3;
    margin: 0;
    align-self: start;
  }
}

.slider__old-price {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 6px;
  font-size: 16px;
  line-height: 200%;
  text-decoration: line-through;
  color: $base-primary;
  overflow-wrap: break-word;

  @media (min-width: $desktop-width) {
    padding-bottom: 2px;
  }
}

.slider__new-price {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  $color: base-black;
  overflow-wrap: break-word;
}

.slider__item-button {
  margin: 0;
  margin-left: auto;
  padding: 8px 20px;
  width: 113px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  overflow-wrap: break-word;
}

.slider__btn-conteiner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  pointer-events: none;

  @media (min-width: $tablet-width) {
    max-height: 640px;
  }

  @media (min-width: $desktop-width) {
    max-height: 714px;
  }
}

.slider__btn {
  margin: 0;
  padding: 0;
  border: none;
  display: block;
  width: 20px;
  height: 100%;
  background-color: inherit;
  background-image: none;
  pointer-events: auto;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    position: relative;
    width: 80px;
    max-height: 640px;
  }

  @media (min-width: $desktop-width) {
    max-height: 714px;
  }
}

.slider__btn-prev::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: $base-primary;
  mask-image: url("../../icons/stack.svg#arrow-left");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  @media (min-width: $tablet-width) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.slider__btn-prev:hover {
  background-image: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider__btn-prev:active {
  background-image: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider__btn-next::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: $base-primary;
  mask-image: url("../../icons/stack.svg#arrow-right");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  @media (min-width: $tablet-width) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.slider__btn-next:hover {
  background-image: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.slider__btn-next:active {
  background-image: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0%, rgba(120, 89, 207, 0) 100%);
}

.slider__btn:disabled {
  background-color: inherit;
  background-image: none;
  cursor: default;
}

.slider__btn:disabled::after {
  background-color: $base-grey;
}

.slider__pagination-container {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 202px;
  }
}

.slider__paginations {
  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 8px;
  }
}

.slider__paginations-item {
  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.slider__paginations-btn {
  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    width: 62px;
    height: 4px;
    background-color: $base-white;
    cursor: pointer;
  }
}

.slider__paginations-btn--current {
  @media (min-width: $desktop-width) {
    background-color: $base-primary;
  }
}

.slider__paginations-btn:hover,
.slider__paginations-btn:focus {
  background-color: $alt-primary-opacity;
}

.slider__paginations-btn:active {
  background-color: $base-primary;
}
