.wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
